@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .emojiExplode {
    display: block;
    animation: xAxis 5s infinite cubic-bezier(0.02, 0.01, 0.21, 1);

    &::after {
      content: '💥';
      display: block;
      animation: yAxis 2.5s infinite cubic-bezier(0.3, 0.27, 0.07, 1.64);
    }

    @keyframes yAxis {
      0% {
        animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
        top: 0;
      }

      100% {
        animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
        top: 100px;
      }
    }

    @keyframes xAxis {
      0% {
        animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
        right: 0;
        /* opacity: 1; */
      }

      100% {
        animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
        right: -100%;
        /* opacity: 0; */
      }
    }
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 204 66% 8%;
    --card: 0 0% 100%;
    --card-foreground: 204 66% 8%;
    --popover: 0 0% 100%;
    --popover-foreground: 204 66% 8%;
    --primary: 204 87% 53%;
    --primary-foreground: 204 40% 98%;
    --secondary: 332 95% 53%;
    --secondary-foreground: 205 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 205 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 204 40% 98%;
    --border: 204 30% 92%;
    --input: 204 30% 92%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 1rem;
  }

  .dark {
    --background: 204 66% 8%;
    --foreground: 204 40% 98%;
    --card: 204 66% 10%;
    --card-foreground: 204 40% 98%;
    --popover: 204 66% 10%;
    --popover-foreground: 204 40% 98%;
    --primary: 204 87% 53%;
    --primary-foreground: 205 47.4% 11.2%;
    --secondary: 332 95% 53%;
    --secondary-foreground: 204 40% 98%;
    --muted: 205 32% 18%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 205 32% 18%;
    --accent-foreground: 204 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 204 40% 98%;
    --border: 205 32% 25%;
    --input: 205 32% 18%;
    --ring: 224.3 76.3% 48%;
  }
}